# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
env/
venv/
.env

# Flutter
flutter/.dart_tool/
flutter/.flutter-plugins
flutter/.flutter-plugins-dependencies
flutter/.packages
flutter/build/

# Docker
*.log

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
